 body {text-align: center;
    background-color: #FCFFE7;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #FFA1A1;} 
h1 {color: #FFD59E;} 
h2 {color: #FFD59E;} 
h3 {color: #FFD59E;}